<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4">Bem vindo ao Blog do node</h1>
  <p class="lead">esse é um blog simples desenvolvido com node.js,express e mongodb</p>
  <hr class="my-4">
  <p>Leia as novidade sobre o mundo da computação</p>
  <a class="btn btn-primary btn-lg" href="/usuarios/registro" role="button">crie uma conta</a>
</div>

<hr>

<h2 id="postagens">postagens recentes: </h2>

{{#each postagens}}
<div class="card mb-4 shadow-sm border-0 card-postagem">
    <div class="card-body">
        <h3 class="font-weight-bold">{{titulo}}</h3>
        <p class="text-secondary">{{descricao}}</p>
        <a href="/postagensRecentes/{{slug}}" class="btn btn-success px-4" style="border-radius: 8px;">
            Leia mais
        </a>
        <hr>
        <small class="text-muted">Categoria: <strong>{{categoria.nome}}</strong></small><br>
        <small class="text-muted">Data de publicação: {{data}}</small>
    </div>
</div>
{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}

<head>
    <style>
        body {
            background: linear-gradient(135deg, #eef2f3 0%, #044172a4 100%);
            background-attachment: fixed;
            min-height: 100vh;
        }

        .card-postagem {

        background: linear-gradient(135deg, #eef2f3 0%, #0a4f8831 100%) !important;
        

        border-radius: 40px 0px 40px 0px !important;
        

        border: none !important;
        transition: transform 0.3s ease;
        }

        .card-postagem:hover {
            transform: scale(1.02); 
        }


        .card-postagem h3 {
            color: #044172; 
        }

    </style>
</head>